*{ color:black;}

body{background:#D8D8D8; margin:0px auto; padding:0px;}

.wrapper{ width:1024px; min-height:730px; background:white;
		  margin:50px auto; padding:0px; box-shadow:0px 0px 10px #024;}
		  
header{ background:#D8D8D8;  font-weight:bold; height:90px;}

#left{ width:300px; float:left; margin:-30px 202px 0px 0px; font-size:60px; text-shadow:0px 2px 0px teal;
	   background:#024; height:100px; padding-top:10px; height:110px; border-radius:0px 0px 100px 0px;
		color:white;}
		
#right{width:502px; float:left;margin:30px 0px 5px;}

#content{ padding:3px;  min-height:550px; box-shadow:0px 10px 0px #D8D8D8;}
.footer{padding:0px; margin:20px 0px; }