form{width:450px; margin:0px auto; }
#form_row{width:400px; margin:5px auto;   padding:0px; float:left;}
#data_lebel{ font-size:16px; color:#024; font-weight:bold; float:left;
	margin:5px 20px; width:100px; text-align:right;}

#input_data{ margin:5px 20px; float:left; width:220px; }
input[type='text'],input[type='submit']{width:200px; font-size:16px; background:silver; box-shadow:0px 2px 1px #024;}
input[type='submit']{width:200px; font-size:19px; background:teal; color:white; box-shadow:0px 2px 1px #024; border-radius:10px 0px;}
input[type='submit']:hover{ background:black; color:red; border-radius:0px 10px;}