form{box-shadow:0px 0px 10px black; width:400px; margin:0px auto;}
input[type='text'],input[type='int']{text-align:center; margin:0px 0px 0px 5px;}
#lebel{ margin:5px 0px; width:200px; float:left; text-align:right;}
#label_field{ text-align:right; margin:5px 0px; float:left;}
input[type="submit"],button{margin:5px; border-radius:10px 0px; font-weight:bold; padding:3px; background:#024; color:white;}
input[type="submit"]:hover{background:teal; color:red; border-radius:0px 10px;}
button:hover{background:teal; color:red; border-radius:0px 10px;}