
#view_data_table{
	background:silver; padding:10px 0px;
	margin:0px auto; width:920px;
	border-radius:5px;
	}
table{
	/*box-shadow:0px 0px 20px black; */
	margin:10px auto;
	border:2px; width:910px;
	}

th{background:#024; color:white; border:2px; padding:5px;}
tr{ border:1px; border-color:red;background:white; border-radius:3px;}
tr:hover{color:black; margin:12px 0px; padding:2px; box-shadow:0px 0px 2px red;}
td{text-align:center; margin:0px 5px; border-radius:5px; padding:0px 2px;}
#p_data{margin:0px; }
a{text-decoration:none; display:block; color:white; }
#alink{background:#024; padding:2px; margin:3px; border-radius:5px 0px; font-weight:bold;}
#alink:hover{background:teal; border-radius:0px 5px; text-shadow:0px 5px 5px red;}






